*{
    margin:0;
    padding: 0;
}
body {
    background-image: url("rt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    overflow: hidden;
}
.navbar{
    width: 295em;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: right;
    justify-content: space-between;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}
#icon{
    width: 80px;
    cursor: pointer;
}


.main {
    position: relative;
    left: 42%;
    border-radius: 220px;
    border: 1px solid transparent;
    height: 15%;
    width: 15%;

}
.container {
    position: absolute;
    Left: 50em;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    font-weight: bold;
}

.navbar ul li a::after{
    content: "";
    width: 400px;
    height: absolute;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index:-1;
    transition: transform 0.5s ease;
}

.navbar ul li a:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0  rgba(143,64,248,0.5), -10px 10px 25px 0 rgba(39,200,255,0.5);
}
.cont{
    background-color: rgb(0,0,0,0.5);
    border-radius: 20px;
    border: 14px solid transparent;
    position: absolute;
    left: 23%;
    bottom: 20%;
    height: 490px;
    width: 800px;
    position: absolute;
    top: 12%;
}
.cont h1{
    font-size: 2.08em;
    border-bottom: 5px solid #fff;
    margin-bottom: 20px;
    padding: 13px 0;  
    color: #fff;

}
.box{
    width: 100%;
    border: 3px solid transparent;
    border-bottom: 2px solid #fff;
}
.box input{
    background: none;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.05em;
    color: #fff;
    margin: 10px 0px;
    padding: 5px 0px;
}
.wow{
    color: #fff;

}
.option{
    background: transparent;
    font-size: 1.05em;
    font-style: bold;
    color: #fff;
    cursor: pointer;

}

.btn{
    color: #fbfcfd;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    height: 2em;
    width: 5em;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    left: 70%;
    bottom: -50px;
    color: #fff;
    background:transparent;
    border: 3px solid #fff;
    font-family: sans-serif;
    box-shadow: 0 0 0 0  rgba(251, 101, 0, 0.5), 0 0 0 0 rgba(3, 18, 68, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}
.btn::after{
    content: "";
    width: 400px;
    height: absolute;
    position: absolute;
    border: 3px solid #fff;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #ffbb00 0%, #fb7a00 50%, #06253a 100%);
    z-index:-1;
    transition: transform 0.5s ease;
}
.btn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0  rgba(8, 11, 59, 0.952), -10px 10px 25px 0 rgba(255, 174, 0, 0.973);
}
