body {
    background-image: url("ok.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
      
}
.navbar{
    width: 295em;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: right;
    justify-content: space-between;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}
#icon{
    width: 80px;
    cursor: pointer;
}


.main {
    position: relative;
    left: 42%;
    border-radius: 220px;
    border: 1px solid transparent;
    height: 15%;
    width: 15%;

}
.container {
    position: absolute;
    Left: 50em;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    font-weight: bold;
}

.navbar ul li a::after{
    content: "";
    width: 400px;
    height: absolute;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index:-1;
    transition: transform 0.5s ease;
}

.navbar ul li a:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0  rgba(143,64,248,0.5), -10px 10px 25px 0 rgba(39,200,255,0.5);
}
.omg{
    font-family: sans-serif;
}

h1 {
    margin: 0;
    padding: 0;    
    color: white;
    font-family: sans-serif;
    position: relative;
    left: 25%;
    font-size: 30px;
    margin: 10px 0 30px;
    line-height: 10px;
    border-radius: 100px;
    text-transform: uppercase;
}
span {
    border-right: .05em solid;
    animation: caret 8s steps(1) muted;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

u {
    color: white;
  
}



h1 {
    margin: 0;
    padding: 0;    
    color: white;
    font-family: sans-serif;
    position: relative;
    left: 25%;
    font-size: 30px;
    margin: 10px 0 30px;
    line-height: 10px;
    border-radius: 100px;
    text-transform: uppercase;
}
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

u {
    color: white;
  
}


.tap{
    color: #fbfcfd;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    height: 10vh;
    width: 22vh;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    left: 45%;
    color: #fff;
    background:linear-gradient(#26caf8,#c625d0);
    font-family: sans-serif;
    border: 2px;
    box-shadow: 0 0 0 0  rgba(143,64,248,0.5), 0 0 0 0 rgba(39,200,255,0.5);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}
.tap::after{
    content: "";
    width: 400px;
    height: absolute;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index:-1;
    transition: transform 0.5s ease;
}
.tap:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0  rgba(143,64,248,0.5), -10px 10px 25px 0 rgba(39,200,255,0.5);
}
.sn{
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 2em;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    border: none;
}
.sn::after{
    content: "";
    width: 400px;
    height: absolute;
    position: absolute;
    top: -50px;
    left: -100px;
    border: none;
    z-index:-1;
    transition: transform 0.5s ease;
}
.sn:hover{
    transform: translate(0, -6px);
}



.side-bar{
    width: 50px;
    height: 100vh;
    background: rgba(98, 0, 255, 0.445);
    position: absolute;
    right: 0;
    top: 0;
    background: cover;
}

.social-links{
    cursor: pointer;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.social-links img, .useful-links img{
    width: 35px;
    margin: 5px auto;
    cursor: pointer;
}

.menu{
    display: block;
    width: 25px;
    margin: 16px;
    cursor: pointer;
}
.YT{
    cursor: pointer;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    max-width: 998px;
    
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
h2{
    margin: 0;
    padding: 0;    
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin: 10px 0 30px;
    line-height: 10px;
    border-radius: 100px;
    
}
h3{
    margin: 0;
    padding: 0;    
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin: 10px 0 30px;
    line-height: 10px;
    border-radius: 100px;
    
}


hr{
    border: 1px solid #ffff;
    background-color: transparent;
    color: #ffff;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    
}

.btn{
color: #fbfcfd;
background: transparent;
outline: none;
background-color: transparent;
font-size: 1.5em;
box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
cursor: pointer;
border-radius: 50px;
height: 8vh;
width: 16vh;
font-family: sans-serif;
font-size: 15px;
position: relative;
bottom: -23px;
color: #fff;
background:linear-gradient(#26caf8,#c625d0);
font-family: sans-serif;
border: 2px;
box-shadow: 0 0 0 0  rgba(143,64,248,0.5), 0 0 0 0 rgba(39,200,255,0.5);
transition: transform 0.3s ease, box-shadow 0.3 ease;
left: 2em;
}
.btn::after{
    content: "";
    width: 400px;
    height: absolute;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index:-1;
    transition: transform 0.5s ease;
}
.btn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0  rgba(143,64,248,0.5), -10px 10px 25px 0 rgba(39,200,255,0.5);
}

#controls{
    background: transparent;
    text-align: bottom;
}
.clock {
    position: relative;
    bottom: -200px;
    right: -1030px;
    color: #fff;
    font-family: Century Gothic;
    font-style: bold;
    font-size: 2.24em;
}





